doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    base(href='/')
    link(rel='stylesheet', href='/css/style.css')

  body
    div#time Hello World

    block content
